<div class="teacher">
  <div class="text-center box-btn">

    <h4>登録情報の編集</h4>

    <%= form_with model: @teacher, url: {controller: 'teachers', action: 'update' } do |form| %>
      <table class="infomation">
        <tr class="info-title">
          <th class="info-list">名前</th>
          <td class="info-data">
            <%= form.text_field :name, :placeholder =>"#{@teacher.name}" %>
          </td>
        </tr>
        <tr class="info-title">
          <th class="info-list">学校</th>
          <td class="info-data">
            <%= form.text_field :school, :placeholder =>"#{@teacher.school}" %>
          </td>
        </tr>
        <tr class="info-title">
          <th class="info-list">メールアドレス</th>
          <td class="info-data">
            <%= form.email_field :email, autocomplete: "email", :placeholder =>"#{@teacher.email}" %>
          </td>
        </tr>
      </table>

      <%= form.submit "編集内容を更新",class: "btn btn-success teacher-icon-box" %>
        <%= link_to "前ページへ戻る", teacher_my_page_path, class: "btn btn-success ml2" %>
          <% end %>

  </div>
</div>