<div class="teacher">
  <div class="text-center">
    <h4>トップページ</h4>
  </div>


  <div class="text-center clearfix">
    <p>登録内容を確認する場合は</p>
    <%= link_to "こちら", teacher_my_page_path, class: "btn btn-success ml2" %>

      <p>宿題投稿一覧は</p>
      <%= link_to "こちら", teachers_post_homeworks_path, class: "btn btn-success ml2" %>

        <p>生徒一覧は</p>
        <%= link_to "こちら", teachers_students_path, class: "btn btn-success ml2" %>

          <p>あいことば一覧は</p>
          <%= link_to "こちら", teachers_keywords_path, class: "btn btn-success ml2" %>

            <p>提出された宿題一覧は</p>
            <%= link_to "こちら", teachers_submissions_path, class: "btn btn-success ml2" %>

  </div>
</div>