<!DOCTYPE html>
<html>
  <head>
    <title>HomuWaku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if teacher_signed_in? %>
        <header class = "clearfix">
          <%= link_to teachers_home_path do %>
            <%= image_tag "icon.PNG", :size =>'80x80', class: "", alt: "icon" %>
          <% end %>
          <%= link_to 'ログアウト', destroy_teacher_session_path, method: :delete, class: "logout-box btn btn-success" %>
        </header><!-- /header -->
    <% elsif student_signed_in? %>
        <header class = "clearfix">
          <%= link_to students_home_path do %>
            <%= image_tag "icon.PNG", :size =>'80x80', class: "", alt: "icon" %>
          <% end %>
          <%= link_to 'ログアウト', destroy_student_session_path, method: :delete, class: "logout-box btn btn-warning" %>
        </header><!-- /header -->
    <% else %>
    <% end %>

    <main>
      <%= yield %>
    </main>
    <footer class = "text-center">Copyright © Infratop Inc. All Rights Reserved.</footer>
  </body>
</html>
