<!DOCTYPE html>
<html>
  <head>
    <title>HomuWaku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if teacher_signed_in? %>
        <%= link_to 'ログアウト', destroy_teacher_session_path, method: :delete %>
    <% elsif student_signed_in? %>
        <%= link_to 'ログアウト', destroy_student_session_path, method: :delete %>
    <% else %>
    <% end %>
    <%= yield %>
  </body>
</html>
